WCF_COFFEEMACHINE/WF_CoffeeMachine/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_BD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_BD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_customer" type="xs:int" />
      <xs:element minOccurs="0" name="mug" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="qtSucre" type="xs:int" />
      <xs:element minOccurs="0" name="type_drink" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>